*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

body{
    
    background-color: #d6d4d4;
}

/*Header Image*/

header{
    background-image: linear-gradient(180deg,rgba(41, 40, 40, 0.438),rgb(94, 93, 93));
    display: block;
}
#img-content{
    display: flex;
    justify-content: flex-start;
    padding: 15px 0px 10px 15px;
}

#img-content img{
    max-width: 100px;
    max-height: 100px;
    padding-bottom: 15px;
}

/*nav-bar*/
#nav-bar ul{
    display: flex;
    text-decoration: none;
    background-color: black;
    justify-content: space-around;
    font-weight:bold;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 1.5px;
    transition: .5s;
    line-height: 20px;
}

#nav-bar a:hover{
    text-decoration: underline;
    color: white;
}

#nav-bar li{
    list-style: none;
}

#nav-bar a{
    text-decoration: none;
    color: #d6d4d4;
}



